---
import Layout from '../layouts/Layout.astro';

---

<Layout pageTitle="Mentions Légales" showCover={false}>
    <h1>Mentions Légales de Syminty</h1>

    <h2>1. Présentation du site</h2>
        <p>Le site Syminty est une plateforme fictive de streaming musical permettant soit l'écoute de musiques libres de droit, soit de rediriger l'utilisateur vers des plateformes où ces musiques sont disponibles.</p>

    <h2>2. Éditeur du site</h2>
        <p>Nom de l'éditeur : Lucas Bardey <br/>Adresse : 55 rue charles de gaules<br/>Email : Bardey.lucas1@gmail.com</p>

    <h2>3. Hébergeur du site</h2>
        <p>Nom de l'hébergeur : Infomaniak <br/>Adresse : [Adresse de l'hébergeur]Email : [Email de contact de l'hébergeur]</p>

    <h2>4. Propriété intellectuelle</h2>
        <p>L'ensemble des contenus disponibles sur le Site, y compris les textes, images, logos et interfaces graphiques, sont protégés par les lois en vigueur sur la propriété intellectuelle. Toute reproduction ou utilisation non autorisée est strictement interdite.</p>

    <h2>5. Responsabilité</h2>
        <p>Syminty ne saurait être tenu responsable des erreurs, omissions ou indisponibilités des musiques listées sur le Site. La redirection vers des plateformes externes est effectuée à titre informatif et ne constitue pas un partenariat ou une recommandation.</p>

    <h2>6. Protection des données personnelles</h2>
        <p>Syminty peut collecter des informations personnelles dans le cadre de l'utilisation du Site. Ces données ne seront en aucun cas revendues à des tiers et sont traitées conformément à la réglementation en vigueur sur la protection des données.</p>

    <h2>7. Cookies</h2>
        <p>Le Site peut utiliser des cookies afin d'améliorer l'expérience utilisateur. L'utilisateur a la possibilité de configurer son navigateur pour bloquer ces cookies.</p>

    <h2>8. Contact</h2>
        <p>Pour toute question relative aux mentions légales, vous pouvez nous contacter à l'adresse suivante : [Adresse email de contact].</p>

    <br/>
    <p>Dernière mise à jour : [Date]</p>
</Layout>
<style>
    h1{
        font-size: 2rem;
        font-weight: 700;
        padding-top: 20px;
    }
    h2{
        font-size: 1.5rem;
        font-weight: 500;
        padding-top: 15px;
    }
</style>
