---
---
<header class="screen bg-Gris -mt-1 -mx-5 lg:-mx-12 px-5 lg:px-12">
    <div>
        <h1>Claudio Abbado</h1>
        <h2>Requiem pour Claudio Abbado</h2>
        <p>À l'occasion du dixième anniversaire de la mort de Herbert von Karajan, les Berliner Philharmoniker rendent hommage à leur dernier maestro, dans sa ville natale, Salzbourg. <br/>Lors de ce concert filmé dans la grande cathédrale de Salzbourg, la ville de Mozart, Claudio Abbado dirige le célèbre Requiem, en hommage à Karajan, son prédécesseur, dont l'interprétation de cette œuvre a fait date.</p>
        <button>Voir plus</button>
    </div>
</header>
<style>
    @media screen and (min-width: 1024px) {
      .screen {height: calc(100vh - 4.5rem)}}
      @media screen and (max-width: 1024px) {
      .screen {height: calc(100vh - 7.75rem)}
      }
</style>