---
import { Image } from "astro:assets";
import IconePrincipal from "./img/IconePrincipal.svg";
---
<div class="px-12 flex">
    <div class="flex flex-1 items-center gap-3 h-24">
        <Image src={IconePrincipal} class="w-8" alt="Main Icone" />
        <h1 class="uppercase font-semibold font-Work-Sans text-xl">Syminty</h1>
    </div>
    <nav class="flex flex-2 h-24 justify-center items-center gap-3 flex-col lg:flex-row">
        <a>Plan du site</a>
        <div class="bg-Gris-claire w-2 h-0.5"></div>
        <a>Mentions légales</a>
        <div class="bg-Gris-claire w-2 h-0.5"></div>
        <a>Termes et conditions</a>
        <div class="bg-Gris-claire w-2 h-0.5"></div>
        <a>Cookies</a>
    </nav>
    <div class="flex-1"></div>
</div>
<div class="flex items-center justify-center h-12 text-sm lg-text-base">
    <p>© 2022-2025 SYMINTY. Tous droits réservés.</p>
</div>