<div class="bg-Gris-Sombre text-Blanc font-Work-Sans">
    <div class="bg-Noir flex justify-end h-11 px-12 text-Gris-claire gap-6 items-center text-xs">
        <nav class="flex gap-12 uppercase">
            <a>à propos</a>
            <a>aide</a>
            <a>paramétre</a>
        </nav>
        <div class="bg-Gris-claire w-0.5 h-3"></div>
        <p>FR</p>
    </div>
    <div class="flex justify-between items-center px-12 h-20">
        <h1 class="uppercase font-semibold text-3xl">Syminty</h1>
        <nav class="flex gap-10 items-center">
            <a>Musique</a>
            <a>Concerts</a>
            <a>Nouveautés</a>
            <a>Se connecter</a>
            <button class="bg-Gris uppercase p-2">Créer un compte</button>
        </nav>
    </div>
</div>