<div class="bg-Gris-Sombre text-Blanc h-36">
    <div class="bg-Noir flex justify-end h-11 px-12">
        <nav class="flex">
            <a>à propos</a>
            <a>aide</a>
            <a>paramétre</a>
        </nav>
        <p>FR</p>
    </div>
    <div class="flex justify-between px-12">
        <h1>Syminty</h1>
        <nav class="flex">
            <a>Musique</a>
            <a>Concerts</a>
            <a>Nouveautés</a>
            <a>Se connecter</a>
            <button class="bg-Gris">Créer un compte</button>
        </nav>
    </div>
</div>