<nav class="bg-Gris-Sombre top-0 pt-36 w-80 border-r-5 border-Gris-claire fixed min-h-screen text-Blanc px-12 font-Hind-Vadodara flex flex-col gap-10">
    <div class="flex flex-col gap-2">
        <a>Parcourir le catalogue</a>
        <a>Musique selon mon humeur</a>
        <a>Joué récemment</a>
    </div>
    <div class="flex flex-col gap-2">
        <h2 class="text-xl text-Gris-claire">Cathégories</h2>
        <a>Pour vous</a>
        <a>Nouveautés</a>
        <a>Genres</a>
        <a>Artistes</a>
        <a>Orchestres</a>
        <a>Albums</a>
        <a>Événement</a>
    </div>
    <div class="flex flex-col gap-2">
        <h2 class="text-xl text-Gris-claire">Ma collection</h2>
        <a>Enregistrement</a>
        <a>Favoris</a>
        <a>A écouter plus tard</a>
        <a>Playlists</a>
    </div>
</nav>