---
import Layout from '../../layouts/Layout.astro';
import type { OeuvreResponse } from '../../pocketbase-typegen';
export const prerender = false;
const id = Astro.params.id;
const oeuvre = await Astro.locals.pb
    .collection<OeuvreResponse>('oeuvre').getOne(id!);
---

<Layout pageTitle={oeuvre.Titre} titleCover={oeuvre.Titre} >
    <p>{oeuvre.Titre}</p>
</Layout>
