---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import NavDesktop from "../components/NavDesktop.astro";
interface Props {
  pageTitle: string;
}
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en" x-data="{menuOpen: false}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
    <Header>
    </header>
    <div class="bg-Noir min-h-screen lg:flex">
      <nav class="w-80 min-h-screen lg:block hidden">
      <NavDesktop>
      </nav>
      <div class="MiseEnPage">
        <main class="pt-24 lg:pt-32 w-full text-Blanc px-5 lg:px-12">
          <slot/>
        </main>
        <footer class="bg-Gris-Sombre text-Blanc flex-col w-full font-Hind-Vadodara">
        <Footer>
        </footer>
      </div>
    </div>
  </body>
</html>
<style>
  .MiseEnPage {
    width: calc(100vw - 20rem);
  }
</style>